* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}


#two {
  top: 120px;
  left: 0px;
  background: blue;
  position: relative;
}

#three{
  position: relative;
  top: 240px;
  left: -209px;
}

#four{
  position: relative;
  top: 390px;
  left: -209px;
}