button{
    outline: none;
    color: rgb(51, 51, 51);
    border-radius: 20px;
    cursor: pointer;
    padding: 0.8em;
    width: 8.6em;
    margin-left: 1.2em;
}

a{
    text-decoration: none;
    color: inherit;
}

i{
    margin-right: 6px;
}

h2{
    margin-top: 4em;
    margin-left: 1em;
}

.fill{
    color: rgb(251, 251, 251);
    background-color: rgb(51, 51, 51);
}

.hover:hover{
    border-color:rgb(0, 102, 0) ;
    color: rgb(0, 102, 0);
}

.hover.fill:hover{
    background-color: rgb(0, 102, 0);
    color:rgb(251, 251, 251) ;
}